<!DOCTYPE html>
<html>
    <head>
        <title>AutoShop</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="utf-8">
    </head>
    <body>
        <!-- header of page -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">AutoShop - покупка автомобилей</a>
        </nav>
        
        
        <!-- REVIEWS -->
        <!-- header of reviews block -->
        <div style="position:absolute; right:0; width:25%;">
            <h2 align="center">Отзывы</h2>
            <hr>
        </div>
        
        <!-- reviews themselves -->
        <div style="overflow-y:scroll; width:25%; height:80%; position:absolute; right:0; margin-top:2.25%;" id="reviews"> </div>
        
        <!-- write-own-review button -->
        <form method="get" action="/newreview">
                <button style="width:25%; height: 9.8%; margin-top:42.2%; position:absolute; right:0;" type="submit">
                    <h3 align="center" style="user-select:none;">НАПИШИТЕ СВОЙ ОТЗЫВ</h3>
                </button>
        </form>
        
<!-- PART HIGHER WAS IN OTHER FILE BUT IT BECAME TOO HARD FOR ME TO MAKE EVERYTHING NICE SO IT'LL BE WRONG BUT EASY -->

<div style="width:75%; height:94%; position:absolute; left:0; overflow-y:scroll;">
    
<img width="840" height="480" src="images/dw-12.jpg">

<h2 style="margin-left:61%; margin-top:-34%">Dallara DW-12 (Mk. III, 2019)</h2>

<p style="margin-left:61%;">
    <b>Dallara DW-12</b> - одноместная гоночная формула, построенная для чемпионата IndyCar Series в 2011 году.
</p>

<p style="margin-left:61%;">
     Абривеатура DW отсылает к Дэну Уэлдону - британскому гонщику, который тестировал это шасси перед запуском в чемпионат в 2012 году. Он погиб в 2011 году в гонке на 1.5 мильном овале в Лас-Вегасе. Mk. III или IR-18 - 3-я вариация аэропакета, которая более подходит для гонок на дорожных трассах.  Предыдущие аэропакеты больше подходили для гонок на овальных трассах (гонки на Калифорния Спидвей в 2015 и Техас Мотор Спидвей в 16 и 17 годах тому подтверждение), но т.к. сезон Индикара по большей части состоит из дорожных и городских трасс, промоутерами было решено заказать у Даллары 3-ий, единый для всех команд, аэропакет (раньше аэропакет производил поставщик мотора - Хонда или Шэвроле). В 2018 году гонки на дорожных и городских трассах действительно стале интереснее, но гоняться на овалах стало практически невозможно, поэтому в 2019 году Даллара обновила овальный аэропакет еще раз, а в 2021 вокруг кокпита гонщика появился защитный аэроэкран.
</p>

<h2>ЦЕНА: 73.275.000 рублей</h2><form method="get" action="/buy"><button type="submit" class="btn btn-success">Купить</button></form> <br>
    
<h2>ХАРАКТЕРИСТИКИ:</h2>
<b>Двигатель: Хонда и Шэвроле делают одинаковые по хар-кам двигатели</b>
<ul>
    <li>2.2 Литра</li>
    <li>V6, 90° наклон</li>
    <li>550 - 750 л.с.</li>
    <li>До 10300 об/мин</li>
    <li>Топливо: 85% этанол, 15% бензин</li>
</ul>

<b>Ходовая часть, трансмиссия и кузов</b>
<ul>
    <li>Одноместный кокпит из карбона</li>
    <li>Днище с граунд-эффектом</li>
    <li>6-и ступенчатая коробка передач, секвентальная(лепестки) компании Xtrac</li>
    <li>Карбоные 6-и поршневые тормоза PFC ZR90</li>
    <li>Подвеска: двойной рычаг, противооткатный стержень. Сзади и спереди идентичные</li>
    <li>Электро- или гидроусилителей руля НЕТ</li>
    <li>Масса без технических жидкостей и пассажиров - 767кг</li>
    <li>Объём бензобака - 85л</li>
    <li>Компоновка - среднемоторная</li>
    <li>Задний привод</li>
    <li>Длина - 5123мм</li>
    <li>Ширина - 1918мм</li>
    <li>Высота - 1016мм</li>
    <li>Колёсная база - 2984 - 3086мм (настраеваемая)</li>
    <li>Колея - до 1938мм (настраеваемая)</li>
    <li>Колёса: Передние 15 дюймов диаметр, 10 дюймов ширина; Задние 15 дюймов диаметр, 14 дюймов ширина</li>
    <li>Покрышки: Firestone Firehawk. Диаметр передних - 25.5 дюймов, задних - 27 дюймов. Максимальное давление - 35 фунтов на квадратный дюйм</li>
</ul>

<b>Динамические показатели</b>
<ul>
    <li>Максимальная скорость - 400км/ч</li>
</ul>

</div>

<script>
    let request = new XMLHttpRequest();
    request.open("GET", "/getReviews", true);
    request.addEventListener("load", ()=>{
        let reviewsBox = document.getElementById("reviews");
        let recieved = request.response;

        reviewsBox.innerHTML += recieved;
    });

    request.send();
</script>