<!DOCTYPE html>
<html>
    <head>
        <title>AutoShop</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="utf-8">
    </head>
    <body>
        <!-- header of page -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">AutoShop - покупка автомобилей</a>
        </nav>
        
        
        <!-- REVIEWS -->
        <!-- header of reviews block -->
        <div style="position:absolute; right:0; width:25%;">
            <h2 align="center">Отзывы</h2>
            <hr>
        </div>
        
        <!-- reviews themselves -->
        <div style="overflow-y:scroll; width:25%; height:80%; position:absolute; right:0; margin-top:2.25%;" id="reviews"> </div>
        
        <!-- write-own-review button -->
        <form method="get" action="/newreview">
                <button style="width:25%; height: 9.8%; margin-top:42.2%; position:absolute; right:0;" type="submit">
                    <h3 align="center" style="user-select:none;">НАПИШИТЕ СВОЙ ОТЗЫВ</h3>
                </button>
        </form>
        
<!-- PART HIGHER WAS IN OTHER FILE BUT IT BECAME TOO HARD FOR ME TO MAKE EVERYTHING NICE SO IT'LL BE WRONG BUT EASY -->

<div style="width:75%; height:94%; position:absolute; left:0; overflow-y:scroll;">
    
<img width="840" height="480" src="images/488.jpg">

<h2 style="margin-left:61%; margin-top:-34%">Ferrari 488 GTB(2019)</h2>

<p style="margin-left:61%;">
    <b>Ferrari 488 GTB</b> - спортивный автомобиль, выпускающийся с 2015 года <br> по 2020.
    Является заменой 458 Italia для обновления своей программы <br> в GT3 и LMGTE.
</p>

<p style="margin-left:61%;">
    Во внешнем виде узнаются формы старой 458 Italia, но он имеет <br> отличительные черты и отсылки к оригинальному 308 GTB. <br><br>
    
    Аэродинамика была улучшена за счет использования вихрегенераторов,<br> распределяющих потоки воздуха под днищем автомобиля,<br> новой формы переднего бампера и заднего спойлера.<br> Задний диффузор имеет изменяемую под управлением компьютера<br> геометрию закрылков, которые позволяют балансировать<br> между прижимной силой и лобовым сопротивлением.<br><br> Коэффициент эффективного аэродинамического действия 1,67 является<br> рекордными показателем среди дорожных автомобилей Ferrari.<br> Прижимная сила выше на 50 % по сравнению с 458й,<br> при 250 км/ч воздух генерирует почти 325 кг.
</p>

<h2>ЦЕНА: 15.500.000 рублей</h2><form method="get" action="/buy"><button type="submit" class="btn btn-success">Купить</button></form> <br>
    
<h2>ХАРАКТЕРИСТИКИ:</h2>
<b>Двигатель</b>
<ul>
    <li>3.9 Литра</li>
    <li>V8, 90° наклон</li>
    <li>670 л.с. при 8000 об/мин</li>
    <li>760 Нм крутящий момент при 3000 об/мин</li>
    <li>Самый мощный двигатель у серийных Ferrari - 169 л.с./литр</li>
    <li>Выброс углекислого газа - 260 г/км</li>
</ul>

<b>Электронника</b>
<ul>
    <li>Система контроля боковых скольжений(СКБС) Slide Slip Control 2</li>
    <li>Электронноуправляемый дифференциал E-Diff F1-Track</li>
    <li>Трекшн-контроль Manettino с несколькими режимами</li>
    <li>Variable Torque Managment</li>
    <li>Launch Control</li>
</ul>

<b>Ходовая часть, трансмиссия и кузов</b>
<ul>
    <li>7-и ступенчатая коробка передач с двойным сцеплением</li>
    <li>Передняя независимая подвеска на двойных поперечных рычагах</li>
    <li>Карбоно-керамичиские тормоза Brembo (398мм и 360мм спереди и сзади соответственно)</li>
    <li>Масса без технических жидкостей и пассажиров - 1475кг</li>
    <li>Объём бензобака - 78л</li>
    <li>Компоновка - среднемоторная</li>
    <li>Задний привод</li>
    <li>Длина - 4568мм</li>
    <li>Ширина - 1952мм</li>
    <li>Высота - 1213мм</li>
    <li>Колёсная база - 2650мм</li>
    <li>Колея: перед - 1679мм, зад - 1679мм</li>
</ul>

<b>Динамические показатели</b>
<ul>
    <li>0-100 - 3 сек</li>
    <li>0-200 - 8.3 сек</li>
    <li>400м - 10.4 сек</li>
    <li>1км - 18.7 сек</li>
    <li>Максимальная скорость - 330км/ч</li>
</ul>
<p>На тестовом треке Ferrari <a href="https://ru.wikipedia.org/wiki/Фьорано_(трасса)" target="_blank">Фьорано</a> автомобиль показал время 1.23, что на полсекунды быстрее, чем предшественник 458(на 3-ех километровом кольце эта разница довольно приличная)</p>


</div>

<script>
    let request = new XMLHttpRequest();
    request.open("GET", "/getReviews", true);
    request.addEventListener("load", ()=>{
        let reviewsBox = document.getElementById("reviews");
        let recieved = request.response;

        reviewsBox.innerHTML += recieved;
    });

    request.send();

</script>