<!DOCTYPE html>
<html>
    <head>
        <title>AutoShop</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="utf-8">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">AutoShop - покупка автомобилей</a>
        </nav>
        
        <div class="mt-5 container" name="content">
            <div style="border-radius: 7px; border: 2px solid #3dcef2; width: 322px;">
                <img class="rounded-lg" src="images/vaz2101.png">
                <div class="card-body">
                    <h4 class="card-title">ВАЗ 2101 "Копейка"</h4>
                    <p class="card-text">
                        Классика советского автопрома
                    </p>
                    <a href="/vaz2101" class="btn btn-primary">Просмотреть</a>
                </div>
            </div>
            
            <div style="border-radius: 7px; border: 2px solid #3dcef2; width: 322px; margin-left: 400px; margin-top: -262px">
                <img class="rounded-lg" src="images/488-small.png">
                <div class="card-body">
                    <h4 class="card-title">Ferrari 488</h4>
                    <p class="card-text">
                        Топовый спорткар из Марранелло
                    </p>
                    <a href="/ferrari488" class="btn btn-primary">Просмотреть</a>
                </div>
            </div>
            
            <div style="border-radius: 7px; border: 2px solid #3dcef2; width: 322px; margin-left: 800px; margin-top: -262px">
                <img class="rounded-lg" src="images/dw12-small.png">
                <div class="card-body">
                    <h4 class="card-title">Dallara DW-12(IR-18)</h4>
                    <p class="card-text">
                        Одна из быстрейших машин в мире
                    </p>
                    <a href="/dallaradw12" class="btn btn-primary">Просмотреть</a>
                </div>
            </div>
        </div>
        
        
    </body>
</html>