<!DOCTYPE html>
<html>
    <head>
        <title>Готово</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="mt-5 container">
            <h1 align="center">Спасибо за заказ!</h1>
            <h3 align="center">Мы свяжемся с Вами</h3><br>
            <p align="center"><a href="/">Главная страница</a></p>
        </div>
    </body>
</html>